
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
#menu_strip{
margin-top:30px;
background-color:red;
}
#home{
height:300px;
}

#about_us{
height:300px;
}

#product{
height:300px;
}

#contact_us{
height:300px;
}
#web_site_logo{
height:110px;
}
</style>
<title>
My Web
</title>
</head>
<body>

<div id="web_site_logo">
<img src="my-web.png" alt="Arvind Blogs"">
</div>


<div id="menu_strip">
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#product">Product</a></li>
  <li><a href="#contact_us">Contact</a></li>
  <li><a href="#about_us">About</a></li>
</ul>
</div>

<div id="home">
<h3>Home</h3>
<a href="#menu_strip">
  <img src="home.png" alt="HTML tutorial" style="width:42px;height:42px;border:0">
</a>
<p><h4>Imagine what you could build if you learned Ruby on Rails…</h4></p>
<p>Learning to build a modern web application is daunting. </p>
<p>Ruby on Rails makes it much easier and more fun.</p>
<p> It includes everything you need to build fantastic applications, and you can learn it with the support of our large, friendly community.</p>
</div>

<hr>
<div id="about_us">
<h3>About<h3>
<a href="#menu_strip">
  <img src="about_us.png" alt="HTML tutorial" style="width:42px;height:42px;border:0">
</a>
<p><h4>Imagine what you could build if you learned Ruby on Rails…</h4></p>
<p>Learning to build a modern web application is daunting. </p>
<p>Ruby on Rails makes it much easier and more fun.</p>
<p> It includes everything you need to build fantastic applications, and you can learn it with the support of our large, friendly community.</p>
</div>

<hr>
<div id="product">
<h3>Products<h3>
<a href="#menu_strip">
  <img src="product.png" alt="HTML tutorial" style="width:42px;height:42px;border:0">
</a>
<p><h4>Imagine what you could build if you learned Ruby on Rails…</h4></p>
<p>Learning to build a modern web application is daunting. </p>
<p>Ruby on Rails makes it much easier and more fun.</p>
<p> It includes everything you need to build fantastic applications, and you can learn it with the support of our large, friendly community.</p>
</div>

<hr>
<div id="contact_us">
<h3>Contact<h3>
<a href="#menu_strip">
  <img src="contact_us.png" alt="HTML tutorial" style="width:42px;height:42px;border:0">
</a>
<p><h4>Imagine what you could build if you learned Ruby on Rails…</h4></p>
<p>Learning to build a modern web application is daunting. </p>
<p>Ruby on Rails makes it much easier and more fun.</p>
<p> It includes everything you need to build fantastic applications, and you can learn it with the support of our large, friendly community.</p>
</div>

</body>
</html>
